name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  auto-fixes:
    name: "Auto-Fixes (Pint & Rector)"
    if: "!contains(github.event.head_commit.message, 'ci: auto-fixes')"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install dependencies
      run: npm ci

    - name: Run Prettier
      run: npm run prettier

    - name: Commit changes
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: 'ci: auto-fixes'
        commit_options: '--no-verify'

  test:
    needs: auto-fixes
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # TODO: install dependencies and run tests
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24'

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test
